*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  margin: auto;
  height: 534px;
  width: 1140px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-items: start;
}

.result {
display: flex;
flex-direction: column;
gap: 16px;
width: 711px;
justify-content: flex-end;

}

.result__video-container {
  height: 386px;
  width: 711px;
  position: relative;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: none;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
}

.search-form__textfield {
  background-color: transparent;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  width: 225px;
  border-left: none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 212px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.search-form__label-text {
  padding-left: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
}

.search-form__checkbox {

}

.search-form__pseudo-checkbox {
  display: block;
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
  background-color: transparent;
}

.search-form__label-text {
  padding-left: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
}

.button{
  cursor: pointer;
  width: 100%;
  height: 34px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid #fff;
  color: inherit;
}

.search-form__submit-button {
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 92%;
}

.content__accent {
  color: #545050;
  line-height: 100%;
} 

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
  scrollbar-width: none;
  position: relative;
}

.cards-list-item-template {
  width: 100%;
  height: 107px;
}

.content__card-link {
  text-decoration: none;
  color: inherit;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  height: 107px;
  padding: 3px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  /*gap: 6px;*/
  justify-content: flex-start;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 110%;
}

.content__video-card-description {
  line-height: 90%;
  font-weight: normal;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  object-fit: cover;
}

.more-button {
 padding: 0;
} 

.preloader {
  position: absolute;
  inset: 0;
}